DATABASE_URL=postgresql://postgres.xxxx:password@aws-0-region.pooler.supabase.com:6543/postgres?workaround=supabase-pooler.vercel
MIGRATION_DATABASE_URL=postgresql://postgres.xxxx:password@aws-0-region.pooler.supabase.com:5432/postgres
JWT_SECRET=
CRON_SECRET=
BLOB_READ_WRITE_TOKEN=
PORT=3030
